{% extends 'base-admin.html.twig' %}

{% block title %}
    Create sub item menu. Parent: {{ parent.name }}.
{% endblock %}

{% block h1 %}
    Create sub item menu. Parent: {{ parent.name }}.
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% if form is empty %}
            <div class="alert alert-error">
                System error! See your logs.
            </div>
        {% else %}
            {% include '@MartenaSoftMenu/admin/form.html.twig' with {
                form: form
            } %}
        {% endif %}
    </div>
{% endblock %}