{% extends 'base-admin.html.twig' %}

{% block title %}
    Edit item. {{ menu.name }}.
{% endblock %}

{% block h1 %}
    Edit item.: {{ menu.name }}.
{% endblock %}

{% block body %}
    {% if form is empty %}
        <div class="alert alert-error">
            System error! See your logs.
        </div>
    {% else %}
        {% include '@MartenaSoftMenu/admin/form.html.twig' with {
            form: form
        } %}
    {% endif %}
{% endblock %}