{% extends template %}

{% block title %}Menu Admin{% endblock %}

{% block h1 %}Menu Admin{% endblock %}

{% block body %}

<div class="row">
    <div class="col-12">
        {% include '@Menu/elements/tree_block.html.twig' %}
    </div>
</div>

{% endblock %}