{% if items is not empty %}
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {% for item in items %}
            {% set url = item.menu | mUrl %}
        <li class="nav-item">
            {% if url is not empty %}
                <a class="nav-link" href="{{ url }}">{{ item.name }}</a>
            {% else %}
                {{ item.name }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endif %}
