
{% if items is not empty %}
    {% set lvl = 0 %}
    {% for item in items %}
        {{ item.lvl > lvl ? "<ul>" }}
        {{ item.lvl < lvl ? "</ul>" }}
        {% set lvl = item.lvl %}
            <li>
                {% include '@MartenaSoftMenu/menu/url.html.twig' with {
                    request: request,
                    item:item,
                    showLinkInActive: false
                } %}
            </li>
    {% endfor %}
    {% for i in 2..lvl %}
        </ul>
    {% endfor %}
{% endif %}
